{% extends 'impact/dashboard/dashboard.html' %}
{% load static %}

{% block stylesheets %}
    <!-- Favicon -->
    <link rel="icon" href="{% static 'dashboard/assets/img/brand/favicon.png' %}" type="image/png">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'dashboard/assets/vendor/nucleo/css/nucleo.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'dashboard/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css">
    <!-- Page plugins -->
    <link rel="stylesheet" href="{% static 'dashboard/assets/vendor/fullcalendar/dist/fullcalendar.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/vendor/sweetalert2/dist/sweetalert2.min.css' %}">
    <!-- Argon CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}" type="text/css">
{% endblock %}

{% block body_class %}bg-white{% endblock %}

{% block main_navbar_wrap %}{% endblock %}
{% block main_wrap %}
    <div class="main-content">
        {% block main_header_wrap %}
            {% include 'impact/lib/_login_header_primary.html' %}
        {% endblock %}

        {% block page_content_wrap %}
            <!-- Page content -->
            <div class="container mt--9 pb-5 text-gray">
                {% block page_content %}
                    <div class="row justify-content-center mb-6">
                        <div class="col-lg-5 col-md-7">
                            <div class="card bg-secondary border border-soft mb-0">
                                {% block login_card_header_wrap %}
                                    <div class="card-header bg-transparent pb-5">
                                        {% block login_card_header %}
                                            {% block login_box_title %}
                                                <div class="text-center mt-2 mb-3">
                                                    <small>
                                                        {% block login_box_title_text %}
                                                            Sign in with
                                                        {% endblock %}
                                                    </small>
                                                </div>
                                            {% endblock %}
                                            <div class="btn-wrapper text-center">
                                                <a href="#" class="btn btn-neutral btn-icon">
                                                    <span class="btn-inner--icon"><img src="{% static 'dashboard/assets/img/icons/common/github.svg' %}"></span>
                                                    <span class="btn-inner--text">Github</span>
                                                </a>
                                                <a href="#" class="btn btn-neutral btn-icon">
                                                    <span class="btn-inner--icon"><img src="{% static 'dashboard/assets/img/icons/common/google.svg' %}"></span>
                                                    <span class="btn-inner--text">Google</span>
                                                </a>
                                            </div>
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                                {% block login_card_body_wrap %}
                                    <div class="card-body px-lg-5 py-lg-5">
                                        {% block login_card_body %}
                                            {% block login_box_subtitle %}
                                                <div class="text-center mb-4">
                                                    <small>
                                                        {% block login_box_subtitle_text %}
                                                            Or sign in with credentials
                                                        {% endblock %}
                                                    </small>
                                                </div>
                                            {% endblock %}
                                            {% block login_form_wrap %}
                                                <form role="form">
                                                    {% block login_form_content %}
                                                        <div class="form-group mb-3">
                                                            <div class="input-group input-group-merge input-group-alternative">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                                                </div>
                                                                <input class="form-control" placeholder="Email" type="email">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group input-group-merge input-group-alternative">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                                                </div>
                                                                <input class="form-control" placeholder="Password" type="password">
                                                            </div>
                                                        </div>
                                                        <div class="custom-control custom-control-alternative custom-checkbox">
                                                            <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                                                            <label class="custom-control-label" for=" customCheckLogin">
                                                                <span>Remember me</span>
                                                            </label>
                                                        </div>
                                                        <div class="text-center">
                                                            <button type="button" class="btn btn-primary my-4">Sign in</button>
                                                        </div>
                                                    {% endblock %}

                                                </form>
                                            {% endblock %}
                                        {% endblock %}

                                    </div>
                                {% endblock %}
                            </div>
                            {% block login_footer_wrap %}
                                <div class="row mt-3">
                                    {% block login_footer %}
                                        <div class="col-6">
                                        </div>
                                        <div class="col-6 text-right">
                                            <a href="#" class="text-gray"><small>Create new account</small></a>
                                        </div>
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}
                {% block page_footer %}
                    {{ block.super }}
                {% endblock %}
            </div>
        {% endblock %}

    </div>
{% endblock %}

